.grid-item-unClicked {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.grid-item-Clicked {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.grid-item-Clicked-1 {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.grid-item-Clicked-2 {
  background-color: Yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.grid-item-Clicked-3 {
  background-color: Green;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.grid-item-Clicked-4 {
  background-color: Blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.grid-item-Clicked-5 {
  background-color: Navy;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.intro-container {
  margin-top: 20px;
  border: black solid 1px;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.rule-title {
  margin-left: 15px;
  color: grey;
  font-weight: bold;
}

.button-stack {
  margin-top: 10px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.input-handle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}



@media (max-width: 600px) {
  .intro-container {
    height: 500px;
  }
}

@media (max-width: 600px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}